<h1>New Idea</h1>

<form action="/create_user">
  <div>
    <label for="name">Idea</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

